/* External CSS */

nav a {
  text-decoration: none;
  margin: 0 10px;
  color: #333;
}

.box {
  background-color: #f0f0f0;
  padding: 10px;
}

#rounded-box {
  border-radius: 10px 0 0 10px;
}

footer p {
  text-align: center;
  color: #666;
}